
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-family: Helvetica, sans-serif;
}

/* header */

/* nav */

nav {
    font-weight: bold;
}

#container-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#row-black-sony {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

#row-black-sony img {
    width: 80px;
}

#logo {
    width: 60px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}

.chevron,
.chevron-hover {
    width: 11px;
}

.nav-item:hover .chevron {
    display: none;
}

.chevron-hover {
    display: none;
}

.nav-item:hover .chevron-hover {
    display: inline-block;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px 0 10px;
}

.btn:hover {
    color: #0070d1;
}

.cst-btn {
    color: white;
    background-color: #363636;
}

#ricerca {
    width: 30px;
}
/* /nav */


/* jumbotron */  /* jumbotron sezione 3 */
.jumbotron-bg {
    margin-top: 126px;
    height: 675px;
    position: relative;
}

.jumbotron-bg #jumbo-img {
    height: 675px;
    max-width: 100%;
    object-fit: cover;
}

.text-jumbotron {
    color: white;
    height: 100%;
    max-width: 30%;
    position: absolute;
    bottom: 100px;
    left: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.text-jumbotron img {
    width: 200px;
}

.text-jumbotron h3 {
    font-weight: bold;
    margin: 30px 0;
}

.orange {
    background-color: orangered;
    width: 121px;
    font-size: 14px;
}


.item-list-jumbo-img img {
    width: 100%;
    border-radius: 15px;
}

.border-item-jumbo {
    padding: 3px;
    border: solid 2px #0070d1;
    border-radius: 15px;
}

@media all and (max-width: 991px) {

    .text-jumbotron img {
        width: 400px;
    }

    .text-jumbotron {
        max-width: 90%;
    }
}



@media all and (max-width: 767px) {

    .text-jumbotron {
        max-width: 90%;
    }

    .text-jumbotron img {
        width: 300px;
    }
}



/* /jumbotron */  /* jumbotron sezione 3 */
/* /header */


/* jumbotron sezione 3 */

/* nuove uscite */
#nuove-uscite {
    background-color: #1f1f1f;
}

#nuove-uscite h2,
#nuove-uscite h3 {
    color: white;
}

#nuove-uscite h3 {
    font-size: 18px;
}

#nuove-uscite h2 {
    font-size: 25px;
}

.text-items-jumbo {
    margin: 14px 0 0;
}
/* footer */
footer {
    background-color: #00439c;
    padding-top: 60px;
}

.col {
    color: white;
    padding-bottom: 30px;
}

#ps-footer {
    width: 70px;
    margin-bottom: 30px;
}

#logo-footer {
    width: 110px;
}

footer .col p {
    padding: 0 0 30px;
}

footer .col a {
    color: white;
}

footer .col:nth-child(2) a {
    text-decoration: none;
}
/* /footer */